body{
    width: 1600px;
    margin: 0 auto;   
}
@font-face{
    font-family: Lato-Regular;
    src: url(fonts/Lato-Regular.ttf);
}
@font-face{
    font-family: Lato-Black;
    src: url(fonts/Lato-Black.ttf);
}
@font-face{
    font-family: Lato-Bold;
    src: url(fonts/Lato-Bold.ttf);
}
@font-face{
    font-family: Lato-Light;
    src: url(fonts/Lato-Light.ttf);
}

/* ВЕРХНИЙ КОЛОНТИТУЛ */
/* логотип */
.logo_1{
    margin-left: 235px;
    margin-top: 25px;
    float: left;
}
.logo_2{
    margin-top: 45px;
    padding-left: 13px;
    float: left;
}
/* кнопка */
.get{
    padding-left: 123px;
    margin-top: 32px;
    float: left;
}

/* BROWSE */
.dropbtn {
    width: 87px;
    height: 38px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}

/* контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    float: left;
}

/* Выпадающей контент (по умолчанию скрыт) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 262px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменить цвет выпадающих ссылок при наведении */
.dropdown-content a:hover{
    background-color: #f1f1f1
}

/* Показать выпадающее меню при наведении */
.dropdown:hover .dropdown-content {
    display: block;
}
.women_12{
    color: #232323;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
}
.dropdown-line{
    height: 1px;
    margin: 0.3px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dr_1{
    color: #4f4f4f;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 5px;
}

.search{
    width: 280px;
    height: 38px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    float: left;
}
.submit{
    width: 36px;
    height: 38px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;  
}

/* корзина */
/* контейнер <div> - необходим для размещения выпадающего содержимого */
.korzina {
    position: relative;
    float: left;
    left: 300px;
    top: 40px;
}
/* Выпадающей контент (по умолчанию скрыт) */
.korzina-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 1262px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    float: left;
    width: 262px;
    height: 440px;
    border-radius: 5px;
    background-color: #ffffff;
}
/* Показать выпадающее меню при наведении */
.korzina:hover .korzina-content {
    display: block;
}

.korzina-line{
    height: 1px;
    background-color: #e5e5e5;
    margin-top: 11px;
    
}
.korzina-content_2{
    float: left;
    width: 262px;
}
.korzina-content_2 a{
    text-decoration: none;
}
.total_4_img{
    margin-left: 17px;
    margin-top: 21px;
    float: left;
}
.total_5_img{
    margin-left: 15px;  
}
.total_3{
    margin-top: 31px;
    margin-left: 103px;
    color: #222222;
    font-family: 'Lato-Regular';
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.total_span{
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
}
.total_hj{
    text-decoration: none;
    width: 18px;
    position: relative;
    top: -20px;
    left: 66px;
    border: none;
    background: url(img/hjhj.png) no-repeat;
}
.total_hj:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.korzina-content_3{
    float: left;  
    width: 262px;
    height: 100px;    
}
.korzina-line_3{
    height: 1px;
    background-color: #e5e5e5;
    margin-top: 14px;
}
.korzina-content_3 a{
    text-decoration: none;
}

.korzina-content_4{
    float: left;  
}
.total{
    display: inline-block;
    color: #222222;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 45px;
}
.total_1{
    margin-left: 130px;
    color: #222222;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.chek{
    width: 225px;
    height: 50px;
    border: 1px solid #f16d7f;
    background-color: white;
    color: #f16d7f;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 17px;
    margin-top: 30px;
    cursor: pointer;
}
.chek:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.cart{
    width: 225px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 17px;
    margin-top: 15px;
    cursor: pointer;
}
.cart:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.total{
    margin-left: 17px;
    color: #222222;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
        

#get_3{
    height: 38px;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: 'Lato-Regular';
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.38px;
    padding-left: 15px;
    margin-left: 325px;
    position: absolute;
    top: 35px;
    }

/* меню */
menu{
    clear: both;
    margin-left: 450px;
    padding-top: 30px;
    margin-bottom: 36px;
}   
    
menu li {
    display: block;
    float: left;
    margin-right: 43px;
}
menu li a{
    text-decoration: none;
    text-transform: uppercase;  
    width: 680px;
    color: #222222;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    padding-bottom: 14px;
}
menu li a:hover{
    border-bottom: 3px solid #ef5b70; 
}
.mega_menu_dr:hover{
    border-bottom: none;
}
.maga_menu_women:hover{
    border-bottom: none;
}
/* WOMEN */

/* контейнер <div> - необходим для размещения выпадающего содержимого */
.maga_menu {
    position: relative;
    float: left;
}

/* Выпадающей контент (по умолчанию скрыт) */
.maga_menu_content {
    display: none;
    position: absolute;
    width: 890px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    float: left;
}

/* Ссылки внутри выпадающего списка */
.mega_menu_dr {
    display: block;
    padding-top: 5px;
    text-decoration: none;   
}
/* Показать выпадающее меню при наведении */
.maga_menu:hover .maga_menu_content {
    display: block;
}
.maga_menu_women{
    text-decoration: none;
    color: #232323;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-weight:600;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    padding-left: 15px;
}
/* разделительная линия */
.drop-line_11{
    height: 1px;
    margin: 0.3px 0;
    overflow: hidden;
    background-color: #e5e5e5;
    margin-bottom: 15px;
}

.mega_menu_dr{
    color: #4f4f4f;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 5px;
    float: left;
    padding-bottom: 15px;
    padding-left: 15px;
}
.maga_menu_content_3{
    float: left;
    padding-left: 100px;
    width: 200px;
}
.maga_menu_content_2{
    float: left;  
    width: 200px;
}
.maga_menu_content_4{
    float: left;
    padding-left: 100px;
    width: 200px;
}
.maga_menu_women_2{
    margin-top: 205px;
    
}
.drop_img{
    margin-top: 254px;
    position: absolute; 
}
.drop_p{
    position: relative;
    z-index: 1;
    top: 70px;
    left: 170px;
    width: 71px;
    height: 45px;
    color: #ffffff;
    font-family: "Lato - Black";
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.55px;
}


/* КОНТЕНТ */
.main{
    height: 665px;
    background-color: #e8e8e8; 
}
/* фото_блок_BAND */
.layer_24{
    left: 241px;  
    float: left;
    position: relative;
    z-index: 1;
}
.text_1{
    float: left;
    margin-top: 224px;
    margin-left: 254px;
    position: absolute;
    z-index: 2;   
    border-left: 12px solid #f16d7f;
    padding-left: 10px;
}
.text_1 a{
    text-decoration: none;
}
.blok_1{
    color: #222222;
    font-family: "Lato-Black";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 60px;   
    letter-spacing: 1.5px;
}
.blok_2{
    color: #222222;
    font-family: "Lato-Black";
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase; 
    letter-spacing: 1px;
}
.blok_3{
    color: #222222;
    font-family: "Lato-Black";
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase; 
    letter-spacing: 1px;
    color: #f16d7f;
}
/* фото_блок_MEN */
.men {
    margin-left: 230px;
    margin-top: 98px;
    float: left;
    padding-right: 21px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
}
.men_1{
    float: left;
    position: absolute;
    z-index: 2;
    margin-top: 124px;
    margin-left: 230px;
    width: 156px;
    height: 66px;
    background-color: #ffffff;
    padding-left: 19px;
    padding-top: 16px;
}
.men_1 a{
    text-decoration: none;
}
.m_1{
    color: #222222;
    font-family: "Lato-Black";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}
.m_2{
    font-family: "Lato-Black";
    font-weight: 400;
    text-transform: uppercase;
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
}
/* фото_блок_WOMEN */
.women {
    margin-top: 98px;
    float: left;
    padding-bottom: 20px;
    position: relative;
    z-index: 1;
}
.women_1{
    position: absolute;
    z-index: 2;
    margin-top: 124px;
    margin-left: 811px;
    width: 144px;
    height: 66px;
    background-color: #ffffff; 
    padding-left: 18px;
    padding-top: 16px;
}
.women_1 a{
    text-decoration: none;
}
.w_1 {
    color: #222222;
    font-family: "Lato-Black";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}
.w_2{
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
    font-family: "Lato-Black";
    text-transform: uppercase;
    font-weight: 400;
}
/* фото_блок_ACCOSSERIESE */
.accos {
    float: left;
    clear: both;
    margin-left: 230px;
    background-color: #dadad2;
    width: 560px;
    height: 261px;
    text-align: right;
    position: relative;
    z-index: 1;
}
.accos_1 {
    position: absolute;
    z-index: 2;
    margin-left: 230px;
    margin-top: 685px;
    width: 207px;
    background-color: #ffffff;
    padding-left: 18px;
    padding-top: 16px;
}
.accos_1 a{
    text-decoration: none;
}
.a_1 {
   color: #222222;
   font-family: "Lato-Black";
   font-size: 18px;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 0.45px;
}
.a_2{
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    font-family: "Lato-Black";
    font-weight: 400;
}
/* фото_блок_KIDS */
.kids {
    position: relative;
    z-index: 1;
}
.kids_1{
    position: absolute;
    z-index: 2;
    margin-left: 811px;
    margin-top: -518px;
    width: 161px;
    background-color: #ffffff;
    padding-left: 19px;
    padding-top: 16px;
}
.kids_1 a{
    text-decoration: none;
}
.k_1{
    color: #222222;
    font-family: "Lato-Black";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}
.k_2{
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Lato-Black";
}
/* фото_блок_Fetured Items*/
.f_1 a, .f_2 a{
    text-decoration: none;
}
.f_1 {
    margin-left: 704px;
    margin-top: 100px; 
    margin-bottom: 0px;
}
    
.f_1 a {    
    color: #222222;
    font-family: 'Lato-Regular';
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.75px;    
}
.f_2{
    margin-left: 607px;
    margin-top: -16px;
}
.f_2 a {
    color: #9f9f9f;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.35px;
}
/* футболка мужская в блоке Fetured Items */ 
.add{
    display: none;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    background: url(img/Forma_99_copy.png) no-repeat 5px;
    color: #ffffff ;
    font-family: 'Lato-Regular';
    font-size: 13px;
    font-weight: 700;   
    position: relative;
    top: -270px;
    left: 69px;
    padding-left: 30px;
    padding-top: 5px;
}

.foto_1{
    width: 263px;
    height: 374px;
    margin-left: 232px;
    float: left;
    margin-right: 32px;
}
.foto_1:hover .add{
    display: block;
    background-color: rgb(58, 58, 56, 0.3);
} 
.foto_1:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.fon_1:hover {
    background-color: #3a3838;
}
.fon_1 img:hover{
    opacity: 0.3;
}
.money_1 {
    padding-left: 14px;
}
.mon_1 {
    text-decoration: none;
    width: 157px;
    height: 11px;
    color: #222222;
    font-family: 'Lato-Regular';
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.mon_2{
    text-decoration: none;
    width: 50px;
    height: 15px;
    color: #f16d7f;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.money_2{
    padding-left: 14px;
}

/* блузка женская в блоке Fetured Items */ 
.add{
    display: none;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    background: url(img/Forma_99_copy.png) no-repeat 5px;
    color: #ffffff ;
    font-family: 'Lato-Regular';
    font-size: 13px;
    font-weight: 700;   
    position: relative;
    top: -270px;
    left: 69px;
    padding-left: 30px;
    padding-top: 5px;
}
.foto_2{
    width: 263px;
    height: 374px;
    float: left;
    margin-right: 32px;
}
.foto_2:hover .add{
    display: block;
    background-color: rgb(58, 58, 56, 0.3);
} 
.foto_2:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
} 
.fon_2:hover{
    background-color: #3a3838;;
}
.fon_2 img:hover{
    opacity: 0.3;
}
.price_3{
    padding-left: 14px;
}
.pr_1 {
    text-decoration: none;
    width: 157px;
    height: 11px;
    color: #222222;
    font-family: 'Lato-Regular';
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.pr_2{
    text-decoration: none;
    width: 50px;
    height: 15px;
    color: #f16d7f;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.price_4{
    padding-left: 14px;
}
/* куртка мужская в блоке Fetured Items */ 
.add{
    display: none;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    background: url(img/Forma_99_copy.png) no-repeat 5px;
    color: #ffffff ;
    font-family: 'Lato-Regular';
    font-size: 13px;
    font-weight: 700;   
    position: relative;
    top: -270px;
    left: 69px;
    padding-left: 30px;
    padding-top: 5px;
}
.foto_3{
    width: 263px;
    height: 374px;
    float: left;
    margin-right: 32px;
}
.foto_3:hover .add{
    display: block;
    background-color: rgb(58, 58, 56, 0.3);
}
.foto_3:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
} 
.fon_3:hover{
    background-color: #3a3838;;
}
.fon_3 img:hover{
    opacity: 0.3;
}
.cash_1{
    padding-left: 14px;
}
.cas_1 {
    text-decoration: none;
    width: 157px;
    height: 11px;
    color: #222222;
    font-family: 'Lato-Regular';
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.cas_2{
    text-decoration: none;
    width: 50px;
    height: 15px;
    color: #f16d7f;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.cash_2{
    padding-left: 14px;
}
/* платье женское в блоке Fetured Items */ 
.add{
    display: none;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    background: url(img/Forma_99_copy.png) no-repeat 5px;
    color: #ffffff ;
    font-family: 'Lato-Regular';
    font-size: 13px;
    font-weight: 700;   
    position: relative;
    top: -270px;
    left: 69px;
    padding-left: 30px;
    padding-top: 5px;
}
.foto_4{
    width: 263px;
    height: 374px;
    float: left;
    margin-right: 32px;
}
.foto_4:hover .add{
    display: block;
    background-color: rgb(58, 58, 56, 0.3);
}
.foto_4:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
} 
.fon_4:hover{
    background-color: #3a3838;;
}
.fon_4 img:hover{
    opacity: 0.3;
}
.coin_1{
    padding-left: 14px;
}
.con_1 {
    text-decoration: none;
    width: 157px;
    height: 11px;
    color: #222222;
    font-family: 'Lato-Regular';
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.con_2{
    text-decoration: none;
    width: 50px;
    height: 15px;
    color: #f16d7f;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.coin_2{
    padding-left: 14px;
}
/* блузка женская полосатая в блоке Fetured Items */
.add{
    display: none;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    background: url(img/Forma_99_copy.png) no-repeat 5px;
    color: #ffffff ;
    font-family: 'Lato-Regular';
    font-size: 13px;
    font-weight: 700;   
    position: relative;
    top: -270px;
    left: 69px;
    padding-left: 30px;
    padding-top: 5px;
}
.foto_5{
    width: 263px;
    height: 374px;
    float: left;
    margin-right: 32px;
    margin-left: 232px;
    margin-top: 39px; 
}
.foto_5:hover .add{
    display: block;
    background-color: rgb(58, 58, 56, 0.3);
}
.foto_5:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
} 
.fon_5:hover{
    background-color: #3a3838;
}
.fon_5 img:hover{
    opacity: 0.3;
}
.buck_1{
    padding-left: 14px;
}
.buc_1 {
    text-decoration: none;
    width: 157px;
    height: 11px;
    color: #222222;
    font-family: 'Lato-Regular';
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.buc_2{
    text-decoration: none;
    width: 50px;
    height: 15px;
    color: #f16d7f;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.buck_2{
    padding-left: 14px;
}
/* пиджак мужской в блоке Fetured Items */ 
.add{
    display: none;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    background: url(img/Forma_99_copy.png) no-repeat 5px;
    color: #ffffff ;
    font-family: 'Lato-Regular';
    font-size: 13px;
    font-weight: 700;   
    position: relative;
    top: -270px;
    left: 69px;
    padding-left: 30px;
    padding-top: 5px;
}
.foto_6{
    width: 263px;
    height: 374px;
    float: left;
    margin-right: 32px;
    margin-top: 39px;
}
.foto_6:hover .add{
    display: block;
    background-color: rgb(58, 58, 56, 0.3);
}
.foto_6:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
} 
.fon_6:hover{
    background-color: #3a3838;;
}
.fon_6 img:hover{
    opacity: 0.3;
}
.rate_3{
    padding-left: 14px;
}
.rat_1 {
    text-decoration: none;
    width: 157px;
    height: 11px;
    color: #222222;
    font-family: 'Lato-Regular';
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.rat_2{
    text-decoration: none;
    width: 50px;
    height: 15px;
    color: #f16d7f;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.rate_4{
    padding-left: 14px;
}
/* штаны мужские в блоке Fetured Items */ 
.add{
    display: none;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    background: url(img/Forma_99_copy.png) no-repeat 5px;
    color: #ffffff ;
    font-family: 'Lato-Regular';
    font-size: 13px;
    font-weight: 700;   
    position: relative;
    top: -270px;
    left: 69px;
    padding-left: 30px;
    padding-top: 5px;
}
.foto_7{
    width: 263px;
    height: 374px;
    float: left;
    margin-right: 32px;
    margin-top: 39px;
}
.foto_7:hover .add{
    display: block;
    background-color: rgb(58, 58, 56, 0.3);
}
.foto_7:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
} 
.fon_7:hover{
    background-color: #3a3838;;
}
.fon_7 img:hover{
    opacity: 0.3;
}
.shopping_1{
    padding-left: 14px;
}
.shop_1 {
    text-decoration: none;
    width: 157px;
    height: 11px;
    color: #222222;
    font-family: 'Lato-Regular';
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.shop_2{
    text-decoration: none;
    width: 50px;
    height: 15px;
    color: #f16d7f;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.shopping_2{
    padding-left: 14px;
}
/* свитер мужской в блоке Fetured Items */ 
.add{
    display: none;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    background: url(img/Forma_99_copy.png) no-repeat 5px;
    color: #ffffff ;
    font-family: 'Lato-Regular';
    font-size: 13px;
    font-weight: 700;   
    position: relative;
    top: -270px;
    left: 69px;
    padding-left: 30px;
    padding-top: 5px;
}
.foto_8{
    width: 261px;
    height: 374px;
    float: left;
    margin-top: 39px;
}
.foto_8:hover .add{
    display: block;
    background-color: rgb(58, 58, 56, 0.3);
}
.foto_8:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
} 
.fon_8:hover{
    background-color: #3a3838;
}
.fon_8 img:hover{
    opacity: 0.3;
}
.buy_1{
    padding-left: 14px;
}
.bu_1 {
    text-decoration: none;
    width: 157px;
    height: 11px;
    color: #222222;
    font-family: 'Lato-Regular';
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.bu_2{
    text-decoration: none;
    width: 50px;
    height: 15px;
    color: #f16d7f;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.buy_2{
    padding-left: 14px;
}
/* блок_Browse */
.all{
    float: left;
    clear: both;
    margin-left: 694px;
    margin-top: 79px;
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    text-align: center;
    color: #ffffff;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.4px;
    text-decoration: none;
    margin-bottom: 113px;

}
.all:hover{
    background: #f16d7f url(img/strelka.png) no-repeat 185px;
   
}
/* фото_блок_OFFER */
.offer{
    float: left;
    width: 1140px;
    height: 529px;
    margin-left: 229px;
    background-color: #222224;
    position: relative;
    z-index: 1;
    margin-bottom: 97px;
}
.txt_2{
    text-decoration: none;
}
.text_2{
    float: left;
    position: relative;
    z-index: 2;
    margin-left: 268px;
    margin-top: -487px;    
}
.blok_4{
    width: 293px;
    color: #ffffff;
    font-family: 'Lato-Regular';
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.blok_5{
    width: 293px;
    font-family: 'Lato-Regular';
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    letter-spacing: 1.5px;
}
.blok_6{
    width: 293px;
    color: #ffffff;
    font-family: 'Lato-Regular';
    font-size: 54px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 0.9px;
}
 /* доставка */
.free{
    float: left;
    margin-left: 1032px;
    margin-top: -557px;
    position: relative;
    z-index: 3;
}
.free_img{
    float: left;
    text-decoration: none;
}
.free_txt{
    width: 239px;
    color: #fbfbfb;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
    padding-left: 83px;
}
.free_text a{
    width: 146px;
    color: #fbfbfb;
    font-family: 'Lato-Regular';
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    float: right;
    margin-right: 93px;
    text-decoration: none;
}
/* распродажи и скидки */
.discounts{
    float: right;
}
.discounts_img{
    float: right;
    text-decoration: none;
    margin-right: 525px;
    margin-top: -407px;
    z-index: 2;
    position: relative;
}
.discounts_text a{
    float: right;
    text-decoration: none;
    margin-right: 325px;
    margin-top: -407px;
    z-index: 2;
    position: relative;
    color: #fbfbfb;
    font-family: 'Lato-Regular';
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.discounts_txt{
    float: right;
    text-decoration: none;
    margin-right: 250px;
    margin-top: -377px;
    z-index: 2;
    position: relative;
    width: 239px;
    color: #fbfbfb;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
}    
 /* гарантия качества */
.quality{
    float: right;
}
.quality_img{
    float: right;
    text-decoration: none;
    margin-right: 520px;
    margin-top: -267px;
    z-index: 2;
    position: relative;
}
.quality_text a{
    float: right;
    text-decoration: none;
    margin-right: 325px;
    margin-top: -262px;
    z-index: 2;
    position: relative;
    color: #fbfbfb;
    font-family: 'Lato-Regular';
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.quality_txt{
    float: right;
    text-decoration: none;
    margin-right: 250px;
    margin-top: -227px;
    z-index: 2;
    position: relative;
    width: 239px;
    color: #fbfbfb;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
} 
/* ФОТО БЛОК SUBSCRIBE */
/* подписаться  */
.subscribe{
    float: left; 
} 
.subscribe_div{
    background-color: #f2f2f2;
    width: 1618px;
    height: 438px;
} 
.subscribe_img{
    opacity: 0.5;
}
.comment{
    width: 497px;
    height: 171px;
    float: left;
    margin-top: -324px;
    margin-left: 220px;
    position: relative;
}
.comment_text{
    float: left;
    margin-top: -337px;
    margin-left: 351px;
    position: relative;
    width: 386px;
}
.comment_txt{    
    color: #222224;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    letter-spacing: 0.4px;  
}
.comment_txt_1{
    width: 82px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    font-family: "Lato - Bold";
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 26px;    
}
comment_txt_2{
    width: 82px;
    height: 27px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 26px; 
    color: #222224;
    font-family: "Lato-Light";
    font-size: 12px;
}
.subscribe_for {
    float: left;
    margin-top: -300px;
    margin-left: 900px;
    text-align: center;
    position: relative;
}
.subscribe_for_text{
    color: #222224;
    font-family: 'Lato-Regular';
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 34px;
    text-transform: uppercase;
}
.subscribe_for_txt{
    width: 277px;
    color: #222224;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    line-height: 24px;
}
.email_1{
    float: left;
    margin-top: -210px;
    margin-left: 850px;
    position: relative;
}
.email{
    width: 334px;
    height: 46px;
    border-radius: 23px;
    background-color: #e1e1e1;
    padding-left: 30px;
}
.button{
    width: 104px;
    height: 50px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    margin-left: -90px;
    padding-top: 4px;
    color: #ffffff;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-weight: 400;
}
/* НИЖНИЙ КОЛОНТИТУЛ */
/* информативный блок*/
/* логотип и текст */
.logo_3{
    float: left;
    margin-top: 109px;
    margin-left: 208px;
}
.logo_4{
    float: left;
}
.logo_5{
    padding-top: 20px;
    padding-left: 13px;
    float: left;
}
.logo_text{
    width: 427px;
    color: #898989;
    font-family: 'Lato-Regular';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
    clear: both;
    padding-top: 29px;
}
/* блок COMPANY */
.company {
    float: left;
    margin-top: 103px;
    margin-left: 63px;
}
.company h3 a{
    text-decoration: none;
    width: 94px;
    height: 14px;
    color: #f16d7f;
    font-family: 'Lato-Regular';
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.45px;    
}
.company p a{
    text-decoration: none;
    width: 101px;
    height: 179px;
    color: #898989;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-weight: 400;   
    letter-spacing: 0.4px;
    line-height: 42px;
}
.company p{
    padding-top: 15px;
}
.company p a:hover{
    border-bottom: 2px solid #898989;
}
/*блок INFORMATION */
.information{
    float: left;
    margin-top: 103px;
    margin-left: 97px;
}
.information h3 a{
    text-decoration: none;
    width: 131px;
    height: 14px;
    color: #f16d7f;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}
.information p{
    padding-top: 15px;
}
.information p a{
    text-decoration: none;
    width: 101px;
    height: 179px;
    color: #898989;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-weight: 400;   
    letter-spacing: 0.4px;
    line-height: 42px;
}
.information p a:hover{
    border-bottom: 2px solid #898989;
}    
/* блок SHOP CATEGORY */
.category{
    float: left;
    margin-top: 103px;
    margin-left: 97px;
}
.category h3 a{
    text-decoration: none;
    width: 131px;
    height: 14px;
    color: #f16d7f;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}
.category p{
    padding-top: 15px;
}
.category p a{
    text-decoration: none;
    width: 101px;
    height: 179px;
    color: #898989;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-weight: 400;   
    letter-spacing: 0.4px;
    line-height: 42px;
}
.category p a:hover{
     border-bottom: 2px solid #898989;
}
.copy {
    float: left;
    width: 1617px;
    height: 79px;
    background-color: #e6e6e6;
    margin-top: 57px;
}
.copy_text{
    margin-left: 220px;
    margin-top: 21px;
    color: #7a7a7a;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.4px;
    float: left;
}
.social{
    float: left;
    background-color: #e6e6e6;;
    margin-top: 24px;
    margin-left: 670px;
}
footer{
    float: left;
}
.facebook{
    float: left;
    width: 32px;
    height: 32px;
    background: #ffffff;
    margin-right: 8px;
}
.facebook img{
    padding-top: 8px;
    padding-left: 9px;
}
.twitter{
    float: left;
    width: 32px;
    height: 32px;
    background-color: #ffffff; 
    margin-right: 8px;
}
.twitter img{
    padding-top: 8px;
    padding-left: 9px;
}
.instagram{
    float: left;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    margin-right: 8px;
}
.instagram img{
    padding-top: 8px;
    padding-left: 9px;
}
.pinterestug{
    float: left;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    margin-right: 8px;
}
.pinterestug img{
    padding-top: 8px;
    padding-left: 9px;
}
.google{
    float: left;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
}
.google img{
    padding-top: 8px;
    padding-left: 9px;
}
.facebook:hover,.twitter:hover,.instagram:hover,.pinterestug:hover,.google:hover{
    background-color: #f16d7f;
}